.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-video video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.videoTag {
  width: 100%;
  height: 100%;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: fixed;
  bottom: 200px;
  background: rgba(0, 0, 0, 0.7);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  max-height: 600px;
}

.n2 {
  margin-top: 30px;
}

.abc {
  padding-top: 100px;
  padding-left: 15%;

}

.img1 {
  height: 80px;
  width: 80px;
}

.img {
  height: 200px;
  width: 200px;
  border-radius: 50%;

}

.red {
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
  width: 100%;
  height: 100px;
  background-color: rgb(238, 238, 250);
  position: fixed;
  color: white;
}

.sidebar {
  width: 15%;
  height: 100%;
  background-color: rgb(85, 100, 133);
  position: fixed;
  color: white;

}

.tag {
  text-decoration: none;
  padding-left: 10%;
  color: white;
  word-wrap: wrap;
}

.a1 {
  width: 200px;
  max-width: 200px;
  height: 30px;
}

.a123 {
  width: 100px;
  max-width: 100px;
  height: 30px;
}

.a2 {
  width: 200px;
  max-width: 200px;
  height: 30px;
  color: red;
}

.a3 {
  width: 200px;
  max-width: 200px;
  height: 30px;
  color: green;
}

.a4 {
  width: 200px;
  max-width: 200px;
  height: 30px;
  color: blue;
}

.a13 {
  color: green;
}

.a12 {
  color: red;
}

.a14 {
  color: blue;
}

.q1 {
  margin-right: 500px;
}

.total {
  height: 200px;
  width: 200px;


}

.red1 {
  color: rgb(120, 57, 57);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px !important;
}

.red2 {
  font-size: 30px;
}

/* 
         for (let i=0; i < addmembers.length; i++) {
           if (contact==addmembers[i].contact) {
             toast("contact number allreday register")
           }
         } */